<!DOCTYPE html>
<html lang="pt-BR" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Lista telefônica</title>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-messages.min.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
    <style>
        .jumbotron {
            width: 50vw;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .table{
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 5px;
        }
        .selecionado {
            background-color: yellow;
        }
        .negrito {
            font-weight: bold;
        }
    </style>

    <script>
        var app = angular.module("listaTelefonica", ["ngMessages"]);
        app.controller("listaTelefonicaCtrl", function($scope) {
            $scope.app = "Lista telefonica";
            // Lista de contatos exibidos e população
            $scope.contatos = [
                {
                    nome: 'Pedro', 
                    telefone: '12341234',
                    cor: 'blue',
                    operadora: {nome: 'Oi', codigo: 14, categoria: 'Celular'},
                    data: new Date()
                },
                {
                    nome: 'Ana', 
                    telefone: '56785678', 
                    cor: 'red',
                    operadora: {nome: 'Vivo', codigo: 15, categoria: 'Celular'},
                    data: new Date()
                },
                {
                    nome: 'Maria', 
                    telefone: '90129012', 
                    cor: 'yellow',
                    operadora: {nome: 'Tim', codigo: 41, categoria: 'Celular'},
                    data: new Date()
                }
            ];
            // Lista de operadoras e população
            $scope.operadoras = [
                {nome: 'Oi', codigo: 14, categoria: 'Celular', preco: 2},
                {nome: 'Vivo', codigo: 15, categoria: 'Celular', preco: 1},
                {nome: 'Tim', codigo: 41, categoria: 'Celular', preco: 3},
                {nome: 'Claro', codigo: 20, categoria: 'Celular', preco: 4},
                {nome: 'GVT', codigo: 25, categoria: 'Fixo', preco: 1},
                {nome: 'Embratel', codigo: 21, categoria: 'Fixo', preco: 2},

            ];
            $scope.adicionarContato = function(contato) {
                // Realizando o angular.copy, para que a referência não seja igual
                // e quando o item for editado, alterar outro objeto
                $scope.contatos.push(angular.copy(contato));
                // Excluindo o obj de contato
                delete $scope.contato;
                // Seta o form como pristine novamente
                $scope.contatoForm.$setPristine();
            }
            $scope.apagarContatos = function(contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    if (!contato.selecionado) {
                        return contato;
                    }
                });
            }
            $scope.isContatoSelecionado = function(contatos) {
                return contatos.some(function(contato) {
                    return contato.selecionado;
                });
            }
            $scope.ordenarPor = function(campo) {
                $scope.criterioOrdenacao = campo;
                $scope.criterioOrdenacaoDirecao = !$scope.criterioOrdenacaoDirecao;
            }
        });
    </script>

</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <input type="text" ng-model="criterioBusca" placeholder="O que você busca?"
            class="form-control"/>
        <table class="table" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
            </tr>
            <tr ng-repeat="contato in contatos 
                            | filter:{nome: criterioBusca} 
                            | orderBy:criterioOrdenacao:criterioOrdenacaoDirecao"
                ng-class="{'selecionado negrito': contato.selecionado}">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.nome | uppercase}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr> 
        </table>

        <hr/>

        <form name="contatoForm" >
            <input class="form-control" type="text" 
                ng-model="contato.nome" placeholder="Nome" 
                ng-required="true" name="nome"
                ng-minlength="10"/>
            <input class="form-control" type="text" 
                ng-model="contato.telefone" placeholder="Telefone"
                ng-required="true" name="telefone"
                ng-pattern="/^\d{4,5}-\d{4}$/"/>
            <select class="form-control"
                ng-model="contato.operadora" 
                ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) '  for operadora in operadoras | orderBy:'nome'"
                >
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <div ng-show="contatoForm.$invalid" ng-messages="contatoForm.nome.$error" 
            class="alert alert-danger">
            <div ng-message="required">
                Por favor, preencha o campo nome!
            </div>
            <div ng-message="minlength">
                O campo nome deve ter no mínimo 10 caracteres
            </div>
        </div>

        <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
            <div ng-show="required && contatoForm.telefone.$dirty" >
                Por favor, preencha o campo telefone!
            </div>
            <div ng-show="pattern">
                O campo telefone deve ter o formado 99999-9999
            </div>
        </div>

        <button class="btn btn-primary btn-block" 
            ng-click="adicionarContato(contato)"
            ng-disabled="contatoForm.$invalid">
            Adicionar Contato
        </button>
        <button class="btn btn-danger btn-block" 
            ng-click="apagarContatos(contatos)"
            ng-if="isContatoSelecionado(contatos)">
            Apagar Contatos
        </button>
    </div>
    
    <!-- 
    <div ng-include="'footer.html'">
    </div> 
    -->

</body>
</html>